@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);

.home {
	background-image: url(../images/green/bg.png);
	background-repeat: repeat-x;
}

.navbar {


}

#header {
	margin-top: 30px;
	margin-bottom: 0;
}

#main-content {

}

#footer {
	background-color: @color-one;
	background-image: none;
	padding-top: 15px;
}
