@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);

body {
	background-image: url(../images/green/bg-default.png);
	background-repeat: repeat-x;

	&.home {
		background-image: url(../images/green/bg-home.png);
	}

	> .container,
	> .container-fluid {
		padding-bottom: 20px;
	}
}

a {
	.transition(all 0.2s linear 0s);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
	}
}

body {

}

.dropdown-menu {
	.border-radius(0);
	border: none;
}

.navbar .nav > .active > a {
	.box-shadow(none);

	&:hover,
	&:focus {
		.box-shadow(none);
	}
}

.navbar-inverse {

	.brand,
	.nav > li > a {
		text-shadow: none;
	}
}

.nav-list {

	> li > a {
		background: @grayLighter;
		margin-bottom: 1px;
		text-shadow: none;
		padding: 5px 15px;

		&:hover,
		&:focus {
			background: darken(@grayLighter, 3%);
		}
	}
}

.text-center ul.jssocialicons-horizontal > li {
	display: inline-block;
	float: unset !important;
}

#header {
	margin-top: 30px;
	margin-bottom: 0;
}

#featured {
	border-top: 3px solid @color_one;
	background: @white;
}

#main-content {

}

#footer {
	background-color: darken(@color_one, 5%);
	background-image: none;

	.footer-content {
		padding-bottom: 20px;
		padding-top: 40px;

		a {
			color: @color_two;

			&:hover,
			&:focus,
			&:active {
				color: darken(@color_two, 10%);
			}
		}
	}

	ul.jssocialicons > li > a {
		color: inherit;

		&:hover,
		&:focus,
		&:active {
			color: inherit;
		}
	}
}
