@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300);

.home {
	background-image: url(../images/green/bg.png);
	background-repeat: repeat-x;
}

.navbar {


}

#header {
	margin-top: 30px;
	margin-bottom: 0;

	.navbar .navbar-inner {
		background-image: none;
		.box-shadow(none);
		padding: 0;

		.nav {
			float: right;
			margin-right: 0;

			&>.active {
				&>a,
				&:hover,
				&:focus {
					.box-shadow(none);
				}
			}

			&>li {
				position: relative;

				&:last-of-type > a {
					padding-right: 0;
				}

				&>a {
					font-weight: 700;
					font-size: 17px;

					&:after {
						color: #777;
						content: attr(title);
						font-size: 12px;
						font-weight: 400;
						left: 15px;
						position: absolute;
						top: 32px;
						line-height: 12px;
					}
				}
			}
		}
	}
}

#main-content {

}

#footer {
	background-color: @color-one;
	background-image: none;
	padding-top: 15px;
}
