/*
General Template Files
====================================================
Table of Contents:
Ctrl/Cmd + F to find the @groups named below

@group Common
# All default HTML elements

@group Template Layout
# Large containing DIV styles specific to this template

/* @group Joomla! Components
# Joomla! component styles

@group Joomla! Modules
# Joomla! module styles

@group Bonus Styles
# Extra custom element styles

*/

/* @group Common ====================================================*/
body {
	background:#F4F4F4 url(../images/theme1/page_bg.png) repeat-x 0 0;
	color:#4D4D4D;
}
body.home {
	background:#F4F4F4 url(../images/theme1/page_bg_home.png) repeat-x 0 0;
}
h1 {
	text-shadow: 1px 1px 0 #CCCCCC;
	-moz-text-shadow: 1px 1px 0 #CCCCCC;
	-webkit-text-shadow: 1px 1px 0 #CCCCCC;
}
h2 {
	color: #2B7FBE;
	text-shadow: 1px 1px 0 #CCCCCC;
	-moz-text-shadow: 1px 1px 0 #CCCCCC;
	-webkit-text-shadow: 1px 1px 0 #CCCCCC;
	background: url("../images/theme1/divider.png") repeat-x center bottom transparent;
}
h3 {
	color:#4D4D4D;
	text-shadow: 1px 1px 0 #FFF;
	-moz-text-shadow: 1px 1px 0 #FFF;
	-webkit-text-shadow: 1px 1px 0 #FFF;
}
h1.center, h2.center, h3.center, h4.center {
	color: #727272;
}
a {
	color:#2B7FBE;
}
a:hover {
	color:#2F9DFF;
}
hr {
	background: url("../images/theme1/divider.png") repeat-x center center transparent;
	border: 0 solid #000000;
}
/* @end */

/* @group Template Layout ====================================================*/

#logo a.title h2 {
	color:#454545;
	text-shadow:2px 2px 0 #FFF;
	-moz-text-shadow:2px 2px 0 #FFF;
	-webkit-text-shadow:2px 2px 0 #FFF;
}
#menu ul li a {
	color: #464646;
	text-shadow: 0 1px 0 #F6F6F6;
	-moz-text-shadow:1px 1px 0 #F6F6F6;
	-webkit-text-shadow:1px 1px 0 #F6F6F6;
}
#menu ul li a:hover {
	color:#1B6EC6;
}
#menu ul li.active a, #menu ul li a.active {
	color: #6E9C27;
	text-shadow: 0 1px 0 #F2F2F2;
}
#menu ul li ul {
	background: url("../images/theme1/menu_bg_arrow.png") no-repeat left top transparent;
	padding-top: 10px;
}
#menu ul li ul li {
	background: url("../images/theme1/menu_bg_trans.png") repeat 0 0 transparent;
}
#menu ul li ul li:hover {
	border-bottom-color:#F1F1F1;
}
#menu li:hover li a, #menu li li a, #menu li.active li a, #menu li li:hover ul li a {
	border-bottom: 1px solid #EFEFEF;
	color: #505050;
	text-shadow: none;
}
#menu ul li ul li a {
	border-bottom: 1px solid #EFEFEF;
	color: #505050;
	font-family: DroidSans, Arial, Helvetica Neue, Helvetica, sans-serif;
	letter-spacing: normal;
	text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
}
#menu li:hover li a, #menu li li a, #menu li.active li a, #menu li li:hover ul li a {
}
#menu ul li ul li a:hover {
	background:#F1F1F1;
	color:#3F8EC9;
}
#menu ul li ul ul {
	background:none;
}
#wrapper-inner {
	background:url("../images/theme1/main_bg.png") no-repeat center top transparent;
}
#pathway {
	background:#FFF;
	border:1px solid #E0E0E0;
}
#elements {
	background: url("../images/theme1/divider.png") repeat-x center top transparent;
}
#bottom {
	background: url("../images/theme1/footer_bg.png") repeat-x center top #4B6C19;
	color: #BAC6A8;
	text-shadow: 1px 1px 0 #3C5714;
	-moz-text-shadow: 1px 1px 0 #3C5714;
	-webkit-text-shadow: 1px 1px 0 #3C5714;
}
#bottom a, #footer a {
	color: #EBF1E3;
}
#footer {
	background:#4B6C19;
	color: #BAC6A8;
	text-shadow: 1px 1px 0 #3C5714;
	-moz-text-shadow: 1px 1px 0 #3C5714;
	-webkit-text-shadow: 1px 1px 0 #3C5714;
}
#footer-inner {
	border-top: 1px solid #608820;
}
/* @end */

/* @group Joomla! Components ====================================================*/
.leading img.border, .item img.border {
	border:1px solid #CFCFCF;
	background:#FFF url(../images/theme1/page_bg.png) repeat-x 0 0;
}
.invalid {
	color:#C00;
}
input.invalid {
	border:1px solid #C00 !important;
}
.inputbox, .remind #email, .reset #email, .input#email, .profile-edit input, .profile-edit select, .login #username, .login #password, .registration input, .remind input, .reset input, .contact input, .contact textarea, .profile-edit .email .email, .registration .email .email {
	border: 1px solid #CCC;
	background:#F8F8F8 !important;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
	-webkit-appearance: none;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	background: #ddd url(../images/button-light.png) repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
	background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
	border: 1px solid;
	border-color: #ddd #bbb #999;
	cursor: pointer;
	color: #333;
	text-shadow: #fff 0 1px 1px;
	-moz-text-shadow: #fff 0 1px 1px;
	-webkit-text-shadow: #fff 0 1px 1px;
}
button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
	box-shadow: 0 0 7px #0066FF;
	-moz-box-shadow: 0 0 7px #0066FF;
	-webkit-box-shadow: 0 0 7px #0066FF;
}
.item .readmore a, .leading .readmore a {
	background: url("../images/bullet_go.png") no-repeat 3px 7px #6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
.item .readmore a:hover, .leading .readmore a:hover {
	background-color: #333333;
	border: 1px solid #333333;
	box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	-moz-box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	-webkit-box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000000;
	-moz-text-shadow: 1px 1px 0 #000000;
	-webkit-text-shadow: 1px 1px 0 #000000;
}
.pagination a, ul.pagenav li a {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
.pagination a:hover, ul.pagenav li a:hover {
	background-color: #333333;
	border: 1px solid #333333;
	box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	-moz-box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	-webkit-box-shadow: 1px 1px 0 #424242 inset, -1px -1px 0 #424242 inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #000000;
	-moz-text-shadow: 1px 1px 0 #000000;
	-webkit-text-shadow: 1px 1px 0 #000000;
}
.items-more {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.items-more h3 {
	background: url("../images/bullet_go.png") no-repeat 3px 50% #6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
/* Section Table */
.cat-items li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.cat-children ul li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* Category Table */
table.category {
	background:#FFF;
	border:1px solid #CFCFCF;
}
table.category th {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
table.category th a {
	color: #FFFFFF;
}
table.category td {
	border:1px solid #CFCFCF;
}
table.category tr:hover {
	background:#EEE;
}
.filter-search {
	margin:0 10px 0 0;
}
/* Table of Contents */
.contenttoc {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.contenttoc th {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
.contenttoc td {
	border:1px solid #CFCFCF;
}
.contenttoc tr:hover {
	background:#EEE;
}
.pagenavcounter, .pagenavbar {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.pagenav th {
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* Newsfeed */
.categories-list ul li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* Search */
ol.list li, .search-results ol li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
ol.list li .highlight, .search-results ol li .highlight {
	background:#FFF58F;
}
ol.list li h4, .search-results ol li h4 {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
ol.list li h4, .search-results ol li h4 a {
	color:#FFF;
}
form.search_result {
	background:#FFF;
	border:1px solid #CFCFCF;
}
#searchForm {
	background:#FFF;
	border:1px solid #CFCFCF;
}
fieldset.word, .searchintro, .phrase, .only {
	border:1px solid #FFF;
	border-bottom:1px solid #CFCFCF;
	color:#333;
	text-shadow:1px 1px 0 #FFF;
	-moz-text-shadow:1px 1px 0 #FFF;
	-webkit-text-shadow:1px 1px 0 #FFF;
}
/* Newsfeed Component */
.newsfeed ol li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.newsfeed ol li h4 {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
/* Contact Form */
.panel {
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* User Components */
.login, .logout, .profile-edit, .remind, .reset, .registration, .editor {
	background:#FFF;
	border:1px solid #CFCFCF;
}
.login h1, .logout h1, .profile-edit h1, .remind h1, .reset h1, .registration h1 {
	background:#6E9C27;
	border: 1px solid #6E8E56;
	box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-moz-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	-webkit-box-shadow: 1px 1px 0 #7CB02D inset, -1px -1px 0 #7CB02D inset;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 #54781E;
	-moz-text-shadow: 1px 1px 0 #54781E;
	-webkit-text-shadow: 1px 1px 0 #54781E;
}
/* @group Joomla! Modules ====================================================*/

/* Bottom Modules */
#bottom .module h3, #bottom .module_menu h3, #bottom .module_text h3 {
	background: none;
	border-bottom: 1px solid #608820;
	color: #EBF1E3;
	text-shadow: 1px 1px 0 #496919;
	-moz-text-shadow: 1px 1px 0 #496919;
	-webkit-text-shadow: 1px 1px 0 #496919;
}
#bottom .module ul li, #bottom .module_menu ul li, #bottom .module_text ul li {
	background:url(../images/theme1/bullet_S2.png) no-repeat 3px 8px;
	border:none;
}
#bottom .module ul li a, #bottom .module_menu ul li a, #bottom .module_text ul li a {
	background:none;
}
/* Feed Module */
ul.newsfeed li {
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* Search Module */
.moduletable .search {
	border: 1px solid #000000;
	background:#E2E0E0 url(../images/theme1/search-bg.gif) repeat-x 0 0;
}
.moduletable .search .button {
	background:url(../images/theme1/btn-search.gif) no-repeat 0 0;
}
/* Login Module */
#form-login ul li {
	border-bottom:1px dotted #CFCFCF;
}
/* Menu Module */
.moduletable_menu ul.menu li, .module_menu ul.menu li {
	background: url("../images/theme1/divider.png") repeat-x center bottom transparent;
}
.moduletable_menu ul.menu li a, .module_menu ul.menu li a {
	background:url(../images/bullet_go.png) no-repeat 0 5px;
}
.moduletable_menu ul.menu li li, .module_menu ul.menu li li {
	background:none;
}
/* Shackslides */
.slideTitle {
	color:#FFF;
}
/* @end */

/* @group Bonus Styles ====================================================*/
pre {
	padding:10px;
	background:#FFF;
	border:1px solid #CFCFCF;
	overflow:auto;
}
blockquote, blockquote.left, blockquote.right {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:#FFF;
	border:1px solid #CFCFCF;
}
/* Shackslides */
#sliderNav a {
	background:url(../images/theme1/pagination.png) no-repeat 50% 100% !important;
}
#sliderNav a.active {
	background:url(../images/theme1/pagination.png) no-repeat 50% 0 !important;
}
#sliderNav a.sliderPrev {
	background:url(../images/arrows.png) no-repeat 0 0 !important;
}
#sliderNav a.sliderNext {
	background:url(../images/arrows.png) no-repeat -30px 0 !important;
}
/* @end */
